@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Source+Serif+Pro&family=Wendy+One&display=swap');

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background: #2A2734;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Alfa Slab One', cursive;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

div {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    cursor: pointer;
    margin: 0 4px;

    border-radius: 20px;
    color: yellow;
    text-shadow: 0 0 15px;
}